body {
    margin: 0;
}
.txt-decoration-none {
    text-decoration: none;
}

.list-style-none {
    list-style-type: none;
}

#header-navigation {
    width: 100%;
    position: fixed;
    top: 0;
}

.navigation-container {
    display: flex;
    flex-direction: row;
    padding: 0px;
    background-color: bisque;
    list-style-type: none;
    margin: 0;
    height: 35px;
}

.navigation-item {
    text-decoration: none;
    color: brown;
    margin: auto;
}

.navigation-list {
    padding: 5px;
    flex-grow: 1;
    display: flex;
}

#body-content {
    padding-top: 35px;
}

.dropdown-container {
    position: relative;
}

.nav-dropdown {
    position: absolute;
    top: 35px;
    padding: 0;
    margin: 0;
    left:25%;
    right:25%;
    text-align: center;
    background-color: rgb(229, 143, 143);
    display: none;
}

.dropdown-container:hover > .nav-dropdown{
    display: block;
}

.nav-dropdown-item {
    color: white;
    text-decoration: none;
    padding: 3px;
}

@media screen and (max-width:600px) {
    .navigation-container {
        height: 140px;
        flex-direction: column;
    }

    .nav-dropdown {
        left: 15%;
        right: 15%;
    }

    #body-content {
        padding-top: 140px;
    }
}